/************** custom style *************/
h6, p {
  padding: 0;
  margin: 0;
}

.profile_pic {
  border-radius: 10px;
  max-height: 240px;
  width: 100%;
}

.font-bold {
  font-weight: 600 !important;
}

.border-radius-10px {
  border-radius: 10px;
}
